<h2>Results</h2>
NOTE - the text files for download use spaces instead of _.  For proper alignment viewing in a text editor or other tool be sure you are using a monospaced font such as courier. 
<br/><br/>
<div style="font-family: 'courier';background-color:white;padding-left:5px; ">
Reading Frame 1
<%= @display1.html_safe %>
</div>
<br/>
<%= form_tag({:controller => "sequence", :action => "new_download"}, :method => "post", :class => "form") do %>
  <%= hidden_field_tag 'nuc_seq', @seq%>
  <%= hidden_field_tag 'nuc_num', @nuc_num%>
  <%= hidden_field_tag 'frame', 1%>
  <%= hidden_field_tag 'reverse', false%>
  <%= submit_tag("Download",:class=>"button") %>
<% end %>
<br/>
<hr/>
<br/>
<div style="font-family: 'courier';background-color:white;padding-left:5px; ">
Reading Frame 2
<%= @display2.html_safe %>
</div>
<br/>
<%= form_tag({:controller => "sequence", :action => "new_download"}, :method => "post", :class => "form") do %>
  <%= hidden_field_tag 'nuc_seq', @seq%>
  <%= hidden_field_tag 'nuc_num', @nuc_num%>
  <%= hidden_field_tag 'frame', 2%>
  <%= hidden_field_tag 'reverse', false%>
  <%= submit_tag("Download",:class=>"button") %>
<% end %>
<br/>
<hr/>
<br/>
<div style="font-family: 'courier';background-color:white;padding-left:5px; ">
Reading Frame 3
<%= @display3.html_safe %>
</div>
<br/>
<%= form_tag({:controller => "sequence", :action => "new_download"}, :method => "post", :class => "form") do %>
  <%= hidden_field_tag 'nuc_seq', @seq%>
  <%= hidden_field_tag 'nuc_num', @nuc_num%>
  <%= hidden_field_tag 'frame', 3%>
  <%= hidden_field_tag 'reverse', false%>
  <%= submit_tag("Download",:class=>"button") %>
<% end %>
<br/>
<hr/>
<br/>
<div style="font-family: 'courier';background-color:white;padding-left:5px; ">
Reverse Complement - Reading Frame 1 
<%= @display4.html_safe %>
</div>
<br/>
<%= form_tag({:controller => "sequence", :action => "new_download"}, :method => "post", :class => "form") do %>
  <%= hidden_field_tag 'nuc_seq', @seq%>
  <%= hidden_field_tag 'nuc_num', @nuc_num%>
  <%= hidden_field_tag 'frame', 1%>
  <%= hidden_field_tag 'reverse', true%>
  <%= submit_tag("Download",:class=>"button") %>
<% end %>
<br/>
<hr/>
<br/>
<div style="font-family: 'courier';background-color:white;padding-left:5px; ">
Reverse Complement - Reading Frame 2
<%= @display5.html_safe %>
</div>
<br/>
<%= form_tag({:controller => "sequence", :action => "new_download"}, :method => "post", :class => "form") do %>
  <%= hidden_field_tag 'nuc_seq', @seq%>
  <%= hidden_field_tag 'nuc_num', @nuc_num%>
  <%= hidden_field_tag 'frame', 2%>
  <%= hidden_field_tag 'reverse', true%>
  <%= submit_tag("Download",:class=>"button") %>
<% end %>
<br/>
<hr/>
<br/>
<div style="font-family: 'courier';background-color:white;padding-left:5px; ">
Reverse Complement - Reading Frame 3
<%= @display6.html_safe %>
</div>
<br/>
<%= form_tag({:controller => "sequence", :action => "new_download"}, :method => "post", :class => "form") do %>
  <%= hidden_field_tag 'nuc_seq', @seq%>
  <%= hidden_field_tag 'nuc_num', @nuc_num%>
  <%= hidden_field_tag 'frame', 3%>
  <%= hidden_field_tag 'reverse', true%>
  <%= submit_tag("Download",:class=>"button") %>
<% end %>