Results
<br/>
<br/>
Nucleotides:<br/>
<%= @seq %><br/><br/>
Amino Acids:<br/>
<%= @aaseq %>
<br/><br/>
Both:<br/>
<% nuc_num = 60 %>
<div style="font-family: 'courier'; ">
<%- rows = (@seq.length/nuc_num).abs %>

<%- i = 0 %>
<table>
<%- while i <= rows  do -%>
   <tr>
     <td><%=  ((nuc_num/3*i)+1).to_s%></td><td></td>&nbsp;&nbsp;<td><%= @aaseq_w_space[nuc_num*i..nuc_num*i+nuc_num-1] %></td>
   </tr>
   <tr>
     <td><%=  ((nuc_num*i)+1).to_s%></td><td>&nbsp;&nbsp;</td><td><%= @seq.upcase[nuc_num*i..nuc_num*i+nuc_num-1] %></td>
   </tr>
   <%- i +=1 %>
<%- end -%>
</table>
</div>
<%= form_tag({:controller => "sequence", :action => "download"}, :method => "post", :class => "form") do %>
  <%= hidden_field_tag 'nuc_seq', @seq%>
  <%= submit_tag("Download") %>
<% end %>
